.blinkCursor {
  &::after {
    content: " |";
    color: orange;
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.avatarImg {
  //box-shadow: 0px 0px 15px 10px rgba(255, 153, 51, 0.2);
  @apply border-4;
  @apply border-orange;
}

.arrowSvg {
  transform: rotate(87deg);
  left: calc(50% - 9rem);
  top: 8.4rem;
}
