.blinkCursor {
  &::after {
    content: " |";
    color: orange;
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.avatarImg {
  height: 10rem;
  width: 10rem;
  @screen md {
    height: 13rem;
    width: 13rem;
  }
}
